#field {
    width: 100%;
    max-width: 650px;
    margin: auto auto;
    background-color: rgb(52, 179, 48);
    margin-top: 50px;
    line-height: 50px;  
}
.button {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
.numbers {
    background-color: azure;
    text-align: center;
}
.act {
    background-color: darkgray;
    text-align: center;
}
.dot {
    background-color: azure;
    text-align: center;
}
.reset {
    background-color: azure;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1px;
    width: 100%;
    max-width: 450px;
    margin: auto;
    
    max-height: 800px;
    background-color: rgb(79, 76, 82);
    border: 1px;
    border-radius: 15px;
}
.monitor {
    grid-column: 1 / 5;
    background-color: black;
    color: rgb(25, 158, 13);
    text-align: right;
    border-radius: 15px 15px 0% 0%;

}
.return {
    grid-column: 4;
    grid-row: 3 / 7;
    background-color: coral;
    text-align: center;
    border-radius: 0px 0px 15px 0px;
}
.nul {
    border-radius: 0px 0px 0px 15px;
}
.onClik {
    background-color: rgb(255, 4, 4);
}