body {
    background-color: rgb(206, 200, 200);
}
header{
    text-align: center;
}

.container {
    max-width: 450px;
    margin: 20px;
}

.monitor {
    width: 230px;
    height: 25px;
    border: 5px solid rgb(0, 68, 255);
    font-size: large;
    text-align: right;
}


.keyboard {
    display: grid;
    float: left;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.return {
    grid-column: 4;
    grid-row: 2/7;
}

.btn {
    width: 50px;

    background-color: aqua;
    font-size: large;
    color: blue;
    border: 5px solid rgb(0, 46, 250);
    border-radius: 5px;
    text-align: center;
}