body {
    background-color: rgb(47, 47, 47);
    max-width: 950px;
}

header {
    height: 50px;
    text-align: center;
    background-color: rgb(197, 134, 255);
    color: aliceblue;
}

button {
    width: 100px;
}

a {
    font-size: larger;
    text-decoration: none;
    color: blue;
}

.article {
    text-align: center;
    text-align: justify;
    max-width: 550px;
    color: aliceblue;
    font-size: large;
}

.container {
    max-width: 250px;
    margin: 20px;
}

.monitor {
    width: auto;
    height: 25px;
    border: 2px solid rgb(0, 68, 255);
    font-size: larger;
    text-align: right;
    color: rgb(5, 255, 5);
    background-color: black;
}


.keyboard {
    display: grid;
    float: left;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.return {
    grid-column: 4;
    grid-row: 2/7;
}

.btn {
    width: 3em;
    background-color: rgb(236, 236, 223);
    font-size: larger;
    color: blue;
    border: 2px solid rgb(250, 142, 0);
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: rgb(201, 160, 240);
}